# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# Ultralytics & outputs
outputs/runs/
outputs/vis/
outputs/predictions/
labels.cache

# Large datasets (keep out of the repo)
images/
future_pass_images/
labels/

# Model weights
*.pt
*.pth

# Misc
.env
